                                               
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <div class="row">
      <div class="col s12" align="center"><h3 class="titulo">¿Qué es un test psicologico?</h3></div><br><br><br>

      <div class="col s6 #e3f2fd blue lighten-5">
      <p class="texto ">
      Un test psicológico o prueba psicológica es un instrumento experimental que
      tiene por objeto medir o evaluar una característica psicológica específica,
      o los rasgos generales de la personalidad de un individuo. Como justificación
      teórica de la validez de una medición mediante el uso de test psicológicos,
      se argumenta que el comportamiento individual que los reactivos de la prueba
      provoca puede ser valorado en comparación estadística o cualitativa con el de
      otros individuos sometidos a la misma situación experimental, con lo que se da
      lugar a una determinada clasificación del sujeto. La construcción del test
      debe procurar que el comportamiento específico ante determinado reactivo
      represente lo más fielmente posible el funcionamiento del sujeto en situaciones
      cotidianas donde se pone en ejecución real la capacidad que el test pretende evaluar.<br><br>
      CLASIFICACION DE LAS PRUEBAS PSICOLOGICAS:<br>
      Test de inteligencia.<br>
      Test de aptitudes.<br>
      Test de personalidad. Estas tienen:<br>
      -Pruebas objetivas.<br>
      -Pruebas proyectivas.


      </p>
      </div>
      <br>
      <h4 class="test">Video: Test de personalidad</h4>
      <div class="col s6"><video src="assets/imagenes/test.mp4" controls></video></div>
  </div>


  <div class="row">
    
      <div class="col s6"><h4 class="titulo">Ingrese su prestamo</h4></div>
      <div class="col s6"><h4 class="titulo">Tipos de ramas de los arboles</h4></div><br>

    <div class="col s6 #e3f2fd blue lighten-5">

      <div class="row">
        <form class="col s12" #formprofinal="ngForm" novalidate>

            <div class="row">
              <div class="input-field col s6">
                <input placeholder="Ingrese su Nombre" 
                id="nombre" 
                type="text" 
                class="validate"
                [class.invalid]="!nombreTxt.valid"
                name="nombre"
                #nombreTxt="ngModel"
                [(ngModel)]="prestamoACrear.nombre"
                required>

                <label for="nombre"
                data-error="El nombre es requerido"
                data-success="aceptado" 
                class="varios">Nombre
                </label>
              </div>


              <div class="input-field col s6">
                <input placeholder="Ingrese su Apellido" 
                id="apellido" 
                type="text" 
                class="validate"
                [class.invalid]="!apellidoTxt.valid"
                name="apellido"
                #apellidoTxt="ngModel"
                [(ngModel)]="prestamoACrear.apellido"
                required>

                <label for="apellido" 
                data-error="El apellido es requerido"
                data-success="aceptado"
                class="varios">Apellido
                </label>
              </div>
            </div>


            <div class="row">
              <div class="input-field col s12">
                <input id="cedula" 
                type="text" 
                class="validate"
                [class.invalid]="!cedulaTxt.valid"
                name="cedula"
                #cedulaTxt="ngModel"
                [(ngModel)]="prestamoACrear.cedula"
                required>
                
                <label for="cedula"
                data-error="El cedula es requerida"
                data-success="aceptado" 
                class="varios">Cedula
                </label>
              </div>
            </div>


            <div class="row">
              <div class="input-field col s12">
                <input id="correo" 
                type="text" 
                class="validate"
                [class.invalid]="!correoTxt.valid"
                name="correo"
                #correoTxt="ngModel"
                [(ngModel)]="prestamoACrear.correo"
                required>

                <label for="correo"
                data-error="El correo es requerido"
                data-success="aceptado"  
                class="varios">Correo electronico
                </label>
              </div>
            </div>
            <br>

            <span>Naturaleza o tipo de persona:</span>
              <select class="browser-default" 
                id="naturaleza"
                [class.invalid]="!naturalezaTxt.valid"
                name="naturaleza"
                #naturalezaTxt="ngModel"
                [(ngModel)]="prestamoACrear.naturaleza"
                required>
                <option value="" disabled selected>Seleccione una naturaleza</option>
                <option value="Psicologo">Psicologo</option>
                <option value="Docente">Docente</option>
                <option value="Estudiante3">Estudiante</option>
                <option value="Otros">Otros</option>
              </select>
              <br><br>
              

              <div class="row">
                <div class="input-field col s12">
                  <input id="prueba" 
                  type="text" 
                  class="validate"
                  [class.invalid]="!pruebaTxt.valid"
                  name="prueba"
                  #pruebaTxt="ngModel"
                  [(ngModel)]="prestamoACrear.prueba"
                  required>

                  <label for="prueba"
                  data-error="El tipo de prueba es requerida"
                  data-success="aceptado"  
                  class="varios">Tipo de prueba
                  </label>
                </div>
              </div>

              <br>

              <div class="row">
              <div class="input-field col s12">
                <input id="valor" 
                type="text" 
                class="validate"
                [class.invalid]="!valorTxt.valid"
                name="valor"
                #valorTxt="ngModel"
                [(ngModel)]="prestamoACrear.valor"
                required>

                <label for="valor" 
                data-error="El valor es requerido"
                data-success="aceptado"
                class="varios">$.Valor de prueba
                </label>
              </div>
            </div>
            <br>

               <button class="btn waves-effect waves-light" 
               type="submit" 
               name="action"
               [disabled]="!formprofinal.valid"
                (click)="guardarPrestamo()">Aceptar
                  <i class="material-icons right">send</i>
              </button>
          </form>
        </div>
    </div>


    <div class="col s6 #e3f2fd blue lighten-5">
          <table>
          <thead>
            <tr>
                <th data-field="id">Nombre</th>
                <th data-field="name">Significado</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>Ramas de un solo trazo</td>
              <td>personalidad afable, calida</td>
            </tr>

            <tr>
              <td>Ramas de 2 trazos</td>
              <td>Buena discriminacion de la realidad</td>
            </tr>

            <tr>
              <td>Ramas tridimensionales</td>
              <td>Deseos de destacarse, originalidad</td>
            </tr>


            <div class="card">
              <div class="card-image waves-effect waves-block waves-light" >
                <img class="activator" src="assets/imagenes/psicologia.jpg">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Mostrar todo </span>
                <p><a >Nombre</a></p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Mostrar todo<i class="material-icons right">close</i></span>
                <p>Esto es un campo de prueba para ver si muestra todo lo que esta en la base de datos
                  incluyendo el id y lo demas
                </p>
              </div>
            </div>
         

          </tbody>
         </table>
    </div>           
</div>


 <table>
        <thead>
          <tr>
              <th data-field="id"></th>
              <th data-field="name"></th>
          </tr>
        </thead>

        <tbody>
          <tr class="#e3f2fd blue lighten-5">
            <td><div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="assets/imagenes/emociones.jpg" width="100" height="300">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4"><p class="#b2dfdb teal lighten-4">Test de Inteligencia Emocional</p></span>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Test de Inteligencia Emocional<i class="material-icons right"></i></span>
                  <p>Se trata de un test complementario al de CI y que permite obtener nuestro índice de Inteligencia Emocional.<br>
                  A diferencia de la inteligencia "convencional", el término Inteligencia Emocional (IE) se refiere a la capacidad 
                  humana de sentir, entender, controlar y modificar estados emocionales en uno mismo y en los demás. No se basa en 
                  la capacidad de resolver problemas si no en como respondemos y afrontamos ante nuestras relaciones sociales.</p>
                </div>
              </div>

              <br><br>
              <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="assets/imagenes/dependencia.jpg" width="100" height="300">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4"><p class="#f0f4c3 lime lighten-3">Test de dependencia emocional</p></span>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Test de dependencia emocional<i class="material-icons right"></i></span>
                  <p>La dependencia emocional es un patrón de necesidades emocionales insatisfechas desde la niñez que,
                    ahora de mayores, buscamos satisfacer mediante la búsqueda de relaciones interpersonales muy estrechas.<br>
                    Ahora puedes averiguar con este test si eres o no un verdadero dependiente emocional.</p>
                </div>
              </div>
            </td>

            <td><div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="assets/imagenes/personalidad.jpg" width="100" height="300">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4"><p class="#ffcdd2 red lighten-4">Test de personalidad y compatibilidad de pareja</p></span>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Test de personalidad y compatibilidad de pareja<i class="material-icons right"></i></span>
                  <p>Este test debe ser contestado por ambos miembros de la pareja. Permite descubrir
                    la personalidad dominante de cada uno y te muestra el grado de compatibilidad entre ambos.<br>
                    También es posible realizarlo de forma individual en cuyo caso se comporta como un test de personalidad.</p>
                </div>
              </div>

              <br><br>
              <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="assets/imagenes/autoestima.jpg" width="100" height="300">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4"><p class="#ffe0b2 orange lighten-4">Test de autoestima</p></span>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Test de autoestima<i class="material-icons right"></i></span>
                  <p>La autoestima es la valoración que hacemos sobre nosotros mismos respondiendo a las preguntas
                    ¿cómo soy yo?, ¿cómo me veo a mi mismo?. Es una autovaloración que incluye la visión personal
                    que tenemos sobre nuestro carácter, nuestra personalidad y también nuestras características físicas.<br>
                  Dependiendo de cómo nos valoremos a nosotros mismos obtendremos el éxito o el fracaso en nuestras empresas personales.</p>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

  

 <footer class="page-footer #42a5f5 blue lighten-1">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Electiva II. Proyecto Final</h5>
                <p class="grey-text text-lighten-4">Trabajo hecho con Visual Studio Code, Angular-2 y Materialize.
                  Codigo fuente subido a GitHub<br>
                  Pagina subida a la red con 000Webhost
                </p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Descargar</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="https://code.visualstudio.com/download">Visual Studio Code</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://angularjs.org/">Angular</a></li>
                  <li><a class="grey-text text-lighten-3" href="http://materializecss.com/">Materialize</a></li>
                  <h5 class="white-text">Ir a:</h5>
                  <li><a class="grey-text text-lighten-3" href="https://github.com">GitHub</a></li>
                  <li><a class="grey-text text-lighten-3" href="http://000webhost.com/">000Webhost</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            Trabajo realizado por: Johnnathan Stiven Navarro, Tecnologo en Informatica. Universidad de Manizales
            </div>
          </div>
</footer>