<nav>
  <div class="nav-wrapper #42a5f5 blue lighten-1">
    <a href="" class="brand-logo ">Prestamos de pruebas Psicologicass</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="">Manual</a></li>
      <li><a href="">Protocolo</a></li>
      <li><a href="">Datos normativos</a></li>
    </ul>
  </div>
</nav>

<div align="center">
  <h1 class="titulo ">Test Psicologico</h1>
  <img src="assets/imagenes/test.jpg" width="200" height="200"/>
  <br>
</div>

<div class="col s12 m8 l6"> <!-- Note that "m8 l9" was added -->      
      <ele-pro-final>
      </ele-pro-final>
</div>